* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: linear-gradient(#2b1055, #7597);
}

.menu {
  width: 100%;
  min-height: 10vh;
}

.menu header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2% 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*
  position: sticky;
  z-index: 1;
  background: #2b1055;
  height: 5rem;
  */
}
.menu header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0.1em 0.3em;
}

.menu header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu header ul li {
  list-style: none;
  margin-right: 2em;
  display: inline-block;
}

.menu header ul li a {
  text-decoration: none;
  padding: 0.3em 0.8em;
  color: #fff;
  border-radius: 1em;
}

.menu header .burger {
  padding: 0.1em 0.3em;
  display: none;
}

.menu header .burger:hover {
  background: #fff;
  color: #2b1055;
  border-radius: 2em;
  padding: 0.1em 0.3em;
}

.menu header ul li a:hover {
  background: #fff;
  color: #2b1055;
}

.menu header .logo:hover {
  background: #fff;
  color: #2b1055;
  padding: 0.1em 0.3em;
  border-radius: 2em;
}
.home {
  width: 100%;
  min-height: 90vh;
  width: 100%;
}

.home section {
  position: relative;
  padding: 0em;
  width: 75%;
}

.home section img {
  position: relative;
  top: 0;
  margin: 2% 10% 0 80%;
  padding: 5%;
  width: 40%;
}

.home section h1 {
  position: absolute;
  top: 10rem;
  margin-right: 5%;
  margin-left: 5%;
  padding: 2%;
  color: #fff;
  border-radius: 1em;
  background-color: #2e125ccc;
  font-size: xx-large;
}
.about section {
  position: relative;
  width: 100%;
  height: 75vh;
  padding: 0em;
  width: 75%;
}
.about section h1 {
  position: relative;
  top: 0rem;
  margin-right: 5%;
  margin-left: 10%;
  padding: 0rem;
  color: #fff;
  font-size: xx-large;
}

.about section h2 {
  position: relative;
  top: 2rem;
  margin-right: 5%;
  margin-left: 10%;
  padding: 0rem;
  color: #fff;
  font-size: large;
  text-align: justify;
}

.about section h2 ul {
  margin: 1rem 4rem 1rem 4rem;
}

.border {
  border-bottom: 1px solid rgb(34, 15, 15);
}

.education section {
  position: relative;
  width: 100%;
  height: 70vh;
  padding: 0em;
  width: 75%;
}

.education section h1 {
  position: relative;
  top: 0rem;
  margin-right: 5%;
  margin-left: 10%;
  padding: 0rem;
  color: #fff;
  font-size: xx-large;
}

.education section h2 {
  position: absolute;
  top: 2rem;
  margin: 5% 5% 0 10%;
  padding: 0rem;
  color: #fff;
  font-size: large;
  text-align: justify;
}

.education section img {
  position: relative;
  top: 0;
  margin: 15% 0 0 55%;
  padding: 1rem;
  width: 50%;
}

.skills section {
  position: relative;
  width: 100%;
  height: 75vh;
  padding: 0em;
  width: 75%;
}

.skills section h1 {
  position: relative;
  top: 0rem;
  margin-right: 5%;
  margin-left: 10%;
  padding: 0rem;
  color: #fff;
  font-size: xx-large;
}

.skills section h2 {
  position: relative;
  top: 2rem;
  margin-right: 5%;
  margin-left: 10%;
  padding: 0rem;
  color: #fff;
  font-size: large;
}

.skills section h2 ul {
  margin: 1rem 4rem 1rem 1rem;
  font-size: x-large;
  border-radius: 1em;
  background-color: #2a10553a;
  padding: 1em;
  width: 50%;
}

.skills section h2 ul li {
  padding: 1rem;
  list-style: none;
}

.skills section img {
  position: relative;
  top: 0;
  margin-left: 55%;
  padding: 1rem;
  width: 50%;
}

.hobbies section {
  position: relative;
  width: 100%;
  /*height: 150vh;*/
  padding: 0em;
  width: 75%;
}

.hobbies section h1 {
  position: relative;
  top: 0rem;
  margin-right: 5%;
  margin-left: 10%;
  padding: 0rem;
  color: #fff;
  font-size: xx-large;
}

.hobbies section h2 {
  position: relative;
  top: 2rem;
  margin-right: 5%;
  margin-left: 10%;
  padding: 0rem;
  color: #fff;
  font-size: large;
  text-align: justify;
}

.hobbies section img {
  position: relative;
  top: 0;
  margin-left: 55%;
  padding: 1rem;
  width: 50%;
}

.projects section {
  position: relative;
  width: 100%;
  height: 80vh;
  padding: 0em;
  width: 75%;
}

.projects section h1 {
  position: relative;
  top: 0rem;
  margin-right: 5%;
  margin-left: 10%;
  padding: 0rem;
  color: #fff;
  font-size: xx-large;
}

.projects section h2 {
  position: relative;
  top: 2rem;
  margin-right: 5%;
  margin-left: 10%;
  padding: 0rem;
  color: #fff;
  font-size: large;
  text-align: justify;
}

.projects section img {
  position: relative;
  top: 0;
  margin-left: 55%;
  padding: 1rem;
  width: 50%;
}

div.gallery {
  margin: 3em 1em 1em 1em;
  border: 1px solid #ccc;
  float: right;
  width: 30rem;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 80%;
  height: auto;
  margin: 1em 1em 1em 2em;
}

div.gallery video {
  width: 40%;
  height: 50%;
  margin: 1em 1em 1em 9em;
}

div.desc {
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .menu header ul {
    display: none;
    background: #875ccc;
    width: 100%;
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
    text-align: right;
  }
  .menu header ul li {
    right: 0;
    display: none;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
  }
  .menu header ul li a {
    color: white;
    border-radius: 0;
    display: none;
    padding: 0 2rem 0 0;
  }

  .menu header ul li a:hover {
    display: none;
    background: #fff;
    color: #2b1055;
    width: 100%;
    padding: 2%;
  }

  .menu header .burger {
    width: 3.5rem;
    display: block;
  }
}
